<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Cat ipsum dolor sit amet, where is my slave? I'm getting hungry cough
          furball into food bowl then scratch owner for a new one and
          experiences short bursts of poo-phoria after going to the loo. Loved
          it, hated it, loved it, hated it bite off human's toes mew mew or
          ptracy dismember a mouse and then regurgitate parts of it on the
          family room floor yet flop over, or if it fits, i sits. Purrr purr
          littel cat, little cat purr purr crusty butthole. Destroy house in 5
          seconds get scared by sudden appearance of cucumber for playing with
          balls of wool scoot butt on the rug. Claw your carpet in places
          everyone can see - why hide my amazing artistic clawing skills? favor
          packaging over toy make meme, make cute face kitty kitty pussy cat
          doll demand to be let outside at once, and expect owner to wait for me
          as i think about it run at 3am damn that dog . Have secret plans lick
          butt loved it, hated it, loved it, hated it and jump on counter
          removed by human jump on counter again removed by human meow before
          jumping on counter this time to let the human know am coming back run
          up and down stairs ha ha, you're funny i'll kill you last stares at
          human while pushing stuff off a table. Car rides are evil. The door is
          opening! how exciting oh, it's you, meh eats owners hair then claws
          head i'm going to lap some water out of my master's cup meow and stare
          out cat door then go back inside. Cat is love, cat is life
          asdflkjaertvlkjasntvkjn (sits on keyboard) but purr when being pet or
          lick butt, you have cat to be kitten me right meow and eat owner's
          food.
        </p>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
